HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/.mvn/

### IntelliJ IDEA ###
application.properties
application.yml
.idea
*.iws
*.iml
*.ipr
*.log
*.zip
*.gz
