<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.king.mybatis_xml.mapper.UserMapper">
    <select id="findAll" resultType="User">
        SELECT *
        FROM user
    </select>

    <delete id="deleteUserById" parameterType="int">
        delete
        from user
        where id = #{id}
    </delete>

    <update id="updateUserById" parameterType="User">
        update user
        set name=#{name},
            pwd=#{pwd}
        where id = #{id}
    </update>

</mapper>
